:root {
  --background: #101010;
  --foreground: #ffffff;
  --outline: #52D924;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  color: var(--foreground);
  background: linear-gradient(
    90deg,
    #0a0a0a 0%,      /* deep black top */
    #141414 10%, 
    #141414 90%,    /* slightly lighter middle */
    #0a0a0a 100%     /* deep black bottom */
  );
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


