.loginMain {
    background-color: var(--background);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px 25px;
}

.loginSection {
    padding: 50px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    height: 650px;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    gap: 50px;
}

.loginTitle {
    font-size: 42px;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input {
    width: 100%;
    max-width: 350px;
    background-color: transparent;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding: 10px 15px;
    transition: box-shadow 0.2s ease-in-out,
                color 0.2s ease-in-out;

    &:focus {
        outline: 2px solid var(--outline);
        border-color: transparent;
        color: var(--outline);
        box-shadow: 0 0 8px 4px var(--outline);
        text-shadow: 0 0 1px var(--outline);

        &::placeholder {
            color: var(--outline);
        }
    }
}

.bioInput {
    width: 100%;
    max-width: 350px;
    min-height: 200px;
    background-color: transparent;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding: 10px 15px;
    transition: box-shadow 0.2s ease-in-out,
                color 0.2s ease-in-out;

    &:focus {
        outline: 2px solid var(--outline);
        border-color: transparent;
        color: var(--outline);
        box-shadow: 0 0 8px 4px var(--outline);
        text-shadow: 0 0 1px var(--outline);

        &::placeholder {
            color: var(--outline);
        }
    }
}

.submitBtn {
    background-color: var(--foreground);
    color: var(--background);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;

    &:hover {
        background-color: var(--background);
        color: var(--foreground);
        border: 2px solid var(--foreground);
        transform: scale(1.1);
    }

    &:active {
        background-color: var(--background);
        border: 2px solid var(--outline);
        box-shadow: 0 0 5px 2px var(--outline);
        color: var(--outline);
        transform: scale(1.1);
    }
}