.loginMain {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 50px 25px;
}

.loginSection {
    background-color: var(--background);
    padding: 50px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    border: 1px solid var(--foreground);
    border-radius: 5px;
    gap: 50px;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input {
    width: 100%;
    max-width: 350px;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding: 10px 15px;
}

.bioInput {
    width: 100%;
    max-width: 350px;
    min-height: 200px;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding: 10px 15px;
}

.submitBtn {
    background-color: var(--foreground);
    color: var(--background);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--background);
        color: var(--foreground);
        border: 1px solid var(--foreground);
        transform: scale(1.1);
    }
}