.loginMain {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loginContainer {
    background-color: var(--background);
    padding: 50px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}